/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/consepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '1.h'
    ]

    // Override memory settings for specific processes in test profile
    withName: 'BCFTOOLS_ROH' {
        memory = 4.GB
        cpus   = 2
    }

    withName: 'BCFTOOLS_SPLIT' {
        memory = 4.GB
        cpus   = 2
    }

    withName: 'VCFTOOLS_HET' {
        memory = 2.GB
        cpus   = 1
    }

    withName: 'PIXY' {
        memory = 4.GB
        cpus   = 2
    }

    withName: 'MULTIQC' {
        memory = 2.GB
        cpus   = 1
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'samplesheet/samplesheet_test_consepopgen.csv'
}
